import init.rk30board.usb.rc
import init.connectivity.rc

# modded by crewrktablets

on early-init
    mount debugfs debugfs /sys/kernel/debug

on post-fs
    insmod /system/lib/modules/ump.ko
    insmod /system/lib/modules/mali.ko mali_dvfs=50,100,133,160,200,266,400 mali_init_clock=50
    insmod /system/lib/modules/rk30_mirroring.ko
    insmod /system/lib/modules/rk29-ipp.ko

on init
    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated

    # Support legacy paths
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy

    export SECONDARY_STORAGE /storage/sdcard1:/storage/usb0
    mkdir /storage/sdcard1 0000 root root
    mkdir /mnt/media_rw/sdcard1 0700 media_rw media_rw
    symlink /storage/sdcard1 /mnt/external_sd
    mkdir /storage/usb0 0000 root root
    mkdir /mnt/media_rw/usb0 0700 media_rw media_rw
    symlink /storage/usb0 /mnt/usb_storage

# for adobe reader mobile
    export RK_ADOBE_DE_MOBILE 1
    export EBOOK_PAGE_VISIBLE_NUMBER 2
    export RK_ADEPT_DEVICE_TYPE mobile
    export RK_ADOBE_DE_DOC_FOLDER "/mnt/sdcard/Digital Editions"
    export RK_ADEPT_ACTIVATION_FILE /mnt/sdcard/.adobe-digital-editions/activation.xml
    export RK_ADEPT_DEVICE_FILE /mnt/sdcard/.adobe-digital-editions/device.xml
    export RK_ADEPT_DEVICE_SALT_FILE /mnt/sdcard/.adobe-digital-editions/devicesalt
    export ADOBE_FONTS_DIR  /system/fonts/adobefonts/

on fs
    setprop ro.crypto.tmpfs_options size=128m,mode=0771,uid=1000,gid=1000
    setprop ro.crypto.umount_sd false
    insmod /rk30xxnand_ko.ko
    mount_all /fstab.rk30board

# Fix battery state
    chown system system /sys/class/rk30_battery/rk30_battery_start_timer_work
    chmod 0664 /sys/class/rk30_battery/rk30_battery_start_timer_work
    write /sys/class/rk30_battery/rk30_battery_start_timer_work 1

# AP6476 GPS permission
    chmod 777 /system/bin/glgps
    chown root system /system/bin/glgps
    chmod 777 /system/lib/hw/gps.default.so
    chown root system /system/lib/hw/gps.default.so
    mkdir /data/gps
    chmod 777 /data/gps
    chown root system /data/gps

on post-fs-data
    # we will remap this as /mnt/sdcard with the sdcard fuse tool
    mkdir /data/media 0775 media_rw media_rw
    chown media_rw media_rw /data/media

    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

on boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug
    chown system system /sys/devices/system/cpu/cpu1/online
    chmod 0660 /sys/devices/system/cpu/cpu1/online
    insmod /system/lib/modules/vpu_service.ko
    insmod /system/lib/modules/rtk_btusb.ko

#backlight
    chown system system /sys/class/backlight/rk28_bl/brightness
    chown system system /sys/class/backlight/rk30_bl/brightness

#for hdmi timem out
   chown root system /sys/class/graphics/fb0/blank
   chmod 0664 /sys/class/graphics/fb0/blank

    chown system system /sys/mali400_utility/utility
    chmod 0664 /sys/mali400_utility/utility

    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
     
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_setspeed
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_setspeed


service wfd /system/bin/wfd
    class main
    disabled
    oneshot

service hciattach /system/bin/brcm_patchram_plus --patchram bychip --baudrate 1500000 --enable_lpm --enable_hci /dev/ttyS0
    console
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service iprenew_p2p system/bin/dhcpcd -n
    class main
    disabled
    oneshot
# bugreport is triggered by holding down volume down, volume up and power
service bugreport /system/bin/bugreport.sh
    class main
    disabled
    oneshot
    keycodes 114 115 116

service chrome /system/bin/chrome.sh
    class main
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABKL
    class main
	disabled
	oneshot
			
service iprenew_eth0 system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service battery_charger /charger
    class charger

service akmd /system/bin/akmd
        class main
        user system
        group system
        oneshot

on property:sys.gmali.performance=ui
    start pat_ui

service pat_ui /system/bin/performance ui
    disabled
    oneshot

on property:sys.gmali.performance=video
    start pat_video

# virtual sdcard daemon running as media_rw (1023)
service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
    class late_start

# fusewrapped external sdcard daemon running as media_rw (1023)
service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard1 /storage/sdcard1
    class late_start
    disabled

service fuse_usb0 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/usb0 /storage/usb0
    class late_start
    disabled

#factory
on property:ro.factory.tool=1     
    write /sys/class/gsensor_class/orientation gsensor={-1,0,0,0,0,1,0,-1,0}
    write /sys/devices/platform/rk29-keypad/rk29key {menu:MENU,home:HOME,vol+:VOLUP,vol-:VOLDOWN,play:PLAY,esc:ESC,sensor:CAMERA}
    write /sys/devices/platform/rk29_backlight/rk29backlight 100

service pat_video /system/bin/performance video
    disabled
    oneshot

service gpsd  /system/bin/glgps -c /system/etc/gpsconfig.xml
    class main
    disabled
    user root
    group system

service bplus_helper  /system/bin/bplus_helper
    class main
    oneshot

